Install required modules

In [1]:
%pip install kagglehub 
%pip install numpy pandas matplotlib seaborn scikit-learn scikit-image tqdm

Requirement already satisfied: kagglehub in /usr/local/lib/python3.10/dist-packages (0.3.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from kagglehub) (24.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kagglehub) (4.66.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kagglehub) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->kagglehub) (2024.8.30)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (2.1.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.9.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.5.2)
Requirement already satisfied: scikit-image in /usr/local/lib/python3.10/dist-packages (0.24.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (4.66.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.0)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: networkx>=2.8 in /usr/local/lib/python3.10/dist-packages (from scikit-image) (3.4.2)
Requirement already satisfied: imageio>=2.33 in /usr/local/lib/python3.10/dist-packages (from scikit-image) (2.36.0)
Requirement already satisfied: tifffile>=2022.8.12 in /usr/local/lib/python3.10/dist-packages (from scikit-image) (2024.9.20)
Requirement already satisfied: lazy-loader>=0.4 in /usr/local/lib/python3.10/dist-packages (from scikit-image) (0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

Load Modules

In [2]:
# Load Modules
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

Download the dataset and save it localy

In [3]:
import os
import kagglehub
import shutil
import tqdm

# Create data directory if it doesn't exist
os.makedirs("./data", exist_ok=True)

# Download the dataset (this will go to a temporary location)
path = kagglehub.dataset_download("pavansubhasht/ibm-hr-analytics-attrition-dataset")

# Move the downloaded file to your desired location
path = path+"/WA_Fn-UseC_-HR-Employee-Attrition.csv"
shutil.copy(path, "./data/ibm_hr_dataset.csv")

/usr/local/lib/python3.10/dist-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

'./data/ibm_hr_dataset.csv'

Load the dataset

In [4]:
"""Load and prepare the IBM HR Analytics dataset"""
df = pd.read_csv('./data/ibm_hr_dataset.csv')

# Convert categorical variables to numeric
categorical_columns = ['BusinessTravel', 'Department', 'EducationField', 
                        'Gender', 'JobRole', 'MaritalStatus', 'OverTime']
df_encoded = pd.get_dummies(df, columns=categorical_columns)

df, df_encoded

(      Age Attrition     BusinessTravel  DailyRate              Department  \
 0      41       Yes      Travel_Rarely       1102                   Sales
 1      49        No  Travel_Frequently        279  Research & Development
 2      37       Yes      Travel_Rarely       1373  Research & Development
 3      33        No  Travel_Frequently       1392  Research & Development
 4      27        No      Travel_Rarely        591  Research & Development
 ...   ...       ...                ...        ...                     ...
 1465   36        No  Travel_Frequently        884  Research & Development
 1466   39        No      Travel_Rarely        613  Research & Development
 1467   27        No      Travel_Rarely        155  Research & Development
 1468   49        No  Travel_Frequently       1023                   Sales
 1469   34        No      Travel_Rarely        628  Research & Development

       DistanceFromHome  Education EducationField  EmployeeCount  \
 0                    1          2  Life Sciences              1
 1                    8          1  Life Sciences              1
 2                    2          2          Other              1
 3                    3          4  Life Sciences              1
 4                    2          1        Medical              1
 ...                ...        ...            ...            ...
 1465                23          2        Medical              1
 1466                 6          1        Medical              1
 1467                 4          3  Life Sciences              1
 1468                 2          3        Medical              1
 1469                 8          3        Medical              1

       EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
 0                  1  ...                         1            80
 1                  2  ...                         4            80
 2                  4  ...                         2            80
 3                  5  ...                         3            80
 4                  7  ...                         4            80
 ...              ...  ...                       ...           ...
 1465            2061  ...                         3            80
 1466            2062  ...                         1            80
 1467            2064  ...                         2            80
 1468            2065  ...                         4            80
 1469            2068  ...                         1            80

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
 0                    0                  8                      0
 1                    1                 10                      3
 2                    0                  7                      3
 3                    0                  8                      3
 4                    1                  6                      3
 ...                ...                ...                    ...
 1465                 1                 17                      3
 1466                 1                  9                      5
 1467                 1                  6                      0
 1468                 0                 17                      3
 1469                 0                  6                      3

      WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
 0                  1               6                  4
 1                  3              10                  7
 2                  3               0                  0
 3                  3               8                  7
 4                  3               2                  2
 ...              ...             ...                ...
 1465               3               5                  2
 1466               3               7                  7
 1467               3               6                  2
 1468               2               9                  6
 1469               4               4                  3

       YearsSinceLastPromotion  YearsWithCurrManager
 0                           0                     5
 1                           1                     7
 2                           0                     0
 3                           3                     0
 4                           2                     2
 ...                       ...                   ...
 1465                        0                     3
 1466                        1                     7
 1467                        0                     3
 1468                        0                     8
 1469                        1                     2

 [1470 rows x 35 columns],
       Age Attrition  DailyRate  DistanceFromHome  Education  EmployeeCount  \
 0      41       Yes       1102                 1          2              1
 1      49        No        279                 8          1              1
 2      37       Yes       1373                 2          2              1
 3      33        No       1392                 3          4              1
 4      27        No        591                 2          1              1
 ...   ...       ...        ...               ...        ...            ...
 1465   36        No        884                23          2              1
 1466   39        No        613                 6          1              1
 1467   27        No        155                 4          3              1
 1468   49        No       1023                 2          3              1
 1469   34        No        628                 8          3              1

       EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
 0                  1                        2          94               3
 1                  2                        3          61               2
 2                  4                        4          92               2
 3                  5                        4          56               3
 4                  7                        1          40               3
 ...              ...                      ...         ...             ...
 1465            2061                        3          41               4
 1466            2062                        4          42               2
 1467            2064                        2          87               4
 1468            2065                        4          63               2
 1469            2068                        2          82               4

       ...  JobRole_Manufacturing Director  JobRole_Research Director  \
 0     ...                           False                      False
 1     ...                           False                      False
 2     ...                           False                      False
 3     ...                           False                      False
 4     ...                           False                      False
 ...   ...                             ...                        ...
 1465  ...                           False                      False
 1466  ...                           False                      False
 1467  ...                            True                      False
 1468  ...                           False                      False
 1469  ...                           False                      False

       JobRole_Research Scientist  JobRole_Sales Executive  \
 0                          False                     True
 1                           True                    False
 2                          False                    False
 3                           True                    False
 4                          False                    False
 ...                          ...                      ...
 1465                       False                    False
 1466                       False                    False
 1467                       False                    False
 1468                       False                     True
 1469                       False                    False

       JobRole_Sales Representative MaritalStatus_Divorced  \
 0                            False                  False
 1                            False                  False
 2                            False                  False
 3                            False                  False
 4                            False                  False
 ...                            ...                    ...
 1465                         False                  False
 1466                         False                  False
 1467                         False                  False
 1468                         False                  False
 1469                         False                  False

       MaritalStatus_Married  MaritalStatus_Single  OverTime_No  OverTime_Yes
 0                     False                  True        False          True
 1                      True                 False         True         False
 2                     False                  True        False          True
 3                      True                 False        False          True
 4                      True                 False         True         False
 ...                     ...                   ...          ...           ...
 1465                   True                 False         True         False
 1466                   True                 False         True         False
 1467                   True                 False        False          True
 1468                   True                 False         True         False
 1469                   True                 False         True         False

 [1470 rows x 56 columns])

In [5]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2